{{layout "org.wso2.carbon.uuf.common.foundation.ui.main"}}
{{title "Samples | " @config.appName}}

{{#fillZone "content"}}
    <h3>Samples</h3>
    <hr />

    <ol>
        <li><h4>uuf-client</h4>
            <ol>
                <li><a href="{{@contextPath}}/uuf-client/fragment">Pushing a fragment</a></li>
                <li><a href="{{@contextPath}}/uuf-client/template">Pushing a template</a></li>
            </ol>
        </li>
    </ol>
{{/fillZone}}
