{{layout "org.wso2.carbon.uuf.common.foundation.main"}}
{{title "Test| " @config.appName}}
{{#fillZone "content"}}
    <h1>Hello World!</h1>
{{/fillZone}}
{{fragment "org.wso2.carbon.uuf.common.foundation.uuf-client"}}
